@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --primary: #C00F0C;
  --primary2: #e1120e;  
  --b: #000;
  --w: #FFF;
  --g: #f4f4f4;
  --syracuse: #f76801;

  --gradientStart: #000000;
  --gradientEnd: #f1f1f1;
}

/* Smooth Scrooling if I want to add a nav bar */
* {
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--b);
  color: black;
  font-family: Space Grotesk, sans-serif; 
  margin: 0rem;
}

#header-br {
  content: "";
  height: 69px;
  width: 100%;
  background-color: black;
}

#my-websites {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  gap: 50px;
}

/* Class for the webistes */
.website {
  height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opactity 1s ease;
  color: var(--w);
  text-align: left;
  width: 90%;
  margin: 0 auto;
  transition: all 0.5s ease;
}

/* Gradient animation for hovering over website */
.website:hover {
  background: linear-gradient(-45deg, #000000, #101010, #202020, #303030);
  background-size: 200%, 200%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.website > img {
  width: 100%;
  max-width: 640px;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 10px;
  border: 2px solid var(--primary);
}

.web-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.caption, .web-link svg, #steamfiber-button, #typeswitch-button, #ot-button {
  font-size: 1rem;
  color: var(--w);
  fill: var(--w);
}

.web-link{
  height: 30px;
  width: 30px;
}

/* Container for website button and links */
.web-link h3 {
  color: var(--primary2);
}

.web-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Styling for the Demo/HomePage button for each website */
.web-button {
  width: 100px;
  background-color: var(--primary);
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.web-button:hover {
  color: white;
}

.web-link a {
  display: flex;
  /* align-items: center; */
  svg {
    transition: transform 0.5s ease;
  }
}

#steamfiber-button, #typeswitch-button, #ot-button{
  transition: transform 0.5s ease;
}

#steamfiber-button:hover, #typeswitch-button:hover, #ot-button:hover {
  cursor: pointer;
  transform: translate(0px, -8px);
  fill:var(--primary);
}

.web-link a:hover {
  svg {
    transform: translate(0px, -8px);
    fill:var(--primary);
  }
}

/* Styling for non-website projects */

#moreProjects, #gameProjects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mProjects {
  width: 80%;
  max-width: 500px;
  background-color: var(--primary);
  
  border-radius: 10px;
  
  h2 {
    margin: 0;
    padding: 10px;
  }
}

/* Animation for project logos */
.imgLink {
  transition: transform 0.5s ease;
}

.imgLink:hover {
  transform: translate(0, -10px);
}


/* Styling for headings */
.cen {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.nopad {
  padding-left: 0;
  padding-right: 0;
}

.red2{
  color: var(--primary2);
  padding-left: 1vw;
}

/* Removes Links */
a {
  text-decoration: none;
}



@media (min-width: 750px) {
  .website {
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* height: 100%; */
    align-items: stretch;
  }
  .web-info {
    /* width: 25%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .website > img {
    width: 70%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 10px;
    border: 2px solid var(--primary);
  }
}