@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --primary: #C00F0C;
  --primary2: #e1120e;  
  --b: #000;
  --w: #FFF;
  --g: #f4f4f4;
  --syracuse: #f76801;
}

/* Smooth Scrooling if I want to add a nav bar */
* {
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--b);
  color: black;
  font-family: Space Grotesk, sans-serif; 
  margin: 0rem;
}

#header-br {
  content: "";
  height: 69px;
  width: 100%;
  background-color: black;
}

/* Grid container for websites */
#my-projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

#my-websites {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

/* Class for the projects */
.website {
  border-radius: 10px;
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  opacity: .80;
  transition: opactity 1s ease;
  color: var(--w);
  text-align: left;
}

.website:hover {
  opacity: 1;
}

.web-photo {
  display: inline-block;
  margin: 0 auto;
}

.web-photo img {
  height: 360px;
  width: 640px;
  border: 4px solid var(--primary);
}

.web-info {
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  flex-direction: column;
}

.caption, .web-link svg {
  font-size: 1rem;
  color: var(--w);
  fill: var(--w);
}

.web-link h3 {
  color: var(--primary2);
}

.web-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.web-link a {
  display: flex;
  align-items: center;
  svg {
    transition: transform 0.5s ease;
  }
}

.web-link a:hover {
  svg {
    transform: translate(8px, -8px);
  }
}

/* Grid container for projects */
#my-projects {
  width: 100%;
  display: grid;
  grid-template-areas: 
    /* "nd su"; */
    "nd su"
    "web mm";

  grid-template-columns: 1fr 1fr;
}

#nextdex {grid-area: nd;}
#susocial {grid-area: su;}
#website {grid-area: web;}
#monstermon {grid-area: mm;}

#my-projects a, .web-link a {
  text-decoration: none;
}

/* Class for the projects */
.pj {
  /* background-color: var(--primary); */
  background: linear-gradient(var(--primary), var(--primary2));
  border-radius: 10px;
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  opacity: 80%;
}

/* Increases opacity when project card is hovered */
.pj:hover {
  opacity: 100%;
  svg{
    transform: translate(8px, -8px);
    color: white;
  }
}

.pj svg{
  text-decoration: none;
  color: white;
  transition: transform 0.5s ease;
}

.pj-photo {
  display: inline-block;
}

/* Project image styling */
.pj-photo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.p-name {
  display: flex;
  align-items: center;
  color: black;
}

/* Styling for the arrow in the project card */
.p-name svg {
  padding-left: 10px;
  padding-top: 15px;
  width: 25px;
  height: 25px;
}

.p-info {
  padding-left: 1vw;
  padding-right: 1vw;
}

/* h styling for the project card */
.p-info h2 {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

.p-info h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 5%;
  color: white;
  font-size: 1rem;
}

/* Styling for the container that holds the tech tags in the project cards */
.tags {
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

/* Styling for the h3 in tags */
.tags h3 {
  border-radius: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: var(--primary);
  font-size: 0.75rem;

}

.cen {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.nopad {
  padding-left: 0;
  padding-right: 0;
}

.red2{
  color: var(--primary2);
  padding-left: 1vw;
}

@media (max-width: 940px){
  .website {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  html {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/* Styling for smaller sized screens */
@media (max-width: 800px) {
  .web-photo img {
    height: 180px;
    width: 320px;
    border: 4px solid var(--primary);
  }

  #my-projects {
    grid-template-areas: 
      "nd"
      "su"
      "web"
      "mm";

    grid-template-columns: 1fr;
  }

  .pj{
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

/* Styling for phone screens */
@media (max-width: 600px) {
  #my-projects {
    grid-template-areas: 
      "nd"
      "su"
      "web"
      "mm";

    grid-template-columns: 1fr;
  }

  .pj {
    margin: 10px;
  }
  
  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  .p-info{
    padding: 0px;
  }
}


/* Styling for larger screens */
@media (min-width: 1800px) {
  #my-projects {
    grid-template-areas: 
      "nd su web mm";

    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .pj {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}