@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --primary: #C00F0C;
  --primary2: #e1120e;  
  --b: #000;
  --w: #FFF;
  --g: #f4f4f4;
  --syracuse: #f76801;
}

/* Smooth Scrooling if I want to add a nav bar */
* {
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
  font-family: Space Grotesk, sans-serif; 
  margin: 0rem;
}

#header-br {
  content: "";
  height: 69px;
  width: 100%;
  background-color: black;
}

#name-container {
  width: 100%;
  text-align: center;
}

#name {
  color: var(--w);
  background-color: var(--primary);
  background-image: url("img/headerPattern.svg");
  background-size: 600px, 600px;
  background-repeat: repeat;
  background-position: top left;
  padding: 10px;
  margin: 0;
}

#name-pattern {
  background-color: black;
  z-index: 1;
  opacity: 10%;
}

/* Container for the biography */
#bio{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 10vw;
  padding-right: 10vw;
  gap: 10vw;
  text-align: center;
}

/* Each child element is set to 25vw*/
#bio > * {
  width: 25vw;  
  height: auto;  
}

#bio h2 {
  font-size:1.5rem; 
  font-weight: 700;
  padding-left: 10vw;
  border-left-width: 1vw;
  border-left: solid var(--primary);
  color:white
}

#bio img {
  max-width: 500px;
  max-height: 500px;
}


/* Each of the drawings */
#gallery > .interactable {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0 0 0.25rem white);
  transition: tranform 10s ease-in-out;
  /* border-width: 1000px; */
}

/* Container for the drawings */
#gallery{
  display: flex;
  gap: 4vmin;
  transform: translate(0%, 0%);
  user-select: none;
  width: 100vw;
}

/* Covers the scaling animation */
/* .interactable {
} */

.interactable:hover {
  transform: scale(1.01);
}

/* Container for the biography */
#bio{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 10vw;
  padding-right: 10vw;
  gap: 10vw;
  text-align: center;
}

/* Each child element is set to 25vw*/
#bio > * {
  width: 25vw;  
  height: auto;  
}

#bio h2 {
  font-size:1.5rem; 
  font-weight: 700;
  padding-left: 10vw;
  border-left-width: 1vw;
  border-left: solid var(--primary);
  color:white
}

#bio img {
  max-width: 500px;
  max-height: 500px;
}

/* Grid container that contains education and my skills */
#toolbelt {
  width: 100%;
  display: grid;
  grid-template-areas: 
    "edu  lang  fw  ts";

  grid-template-columns: 2fr 1fr 1fr 1fr;
}

/* Set education Styling */
#education { 
  display: flex;
  flex-direction: column;
  grid-area: edu;
  color: var(--syracuse);
  align-items: center;
  text-align: left;
}

#languages {grid-area: lang;}
#frameworks {grid-area: fw;}
#tools {grid-area: ts;}

/* Styling for divs that need a white bg */
.whitebg{
  background: linear-gradient(to bottom right, white 0%, white 50%, var(--g) 50%, var(--g) 100%);
}

/* Different styling for a white bg (line is down the middle rather than from bottom left to to right */
.whitebgVert{
  background: linear-gradient(to right, white 0%, white 50%, var(--g) 50%, var(--g) 100%);
}

/* Styling for text that need to be color: primary2 */
.red2{
  color: var(--primary2);
  padding-left: 1vw;
}

/* Styling for text that need to be color: white */
.wh{
  color: white;
  padding-left: 1vw;
}


@media (max-width: 940px){
  html {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/* Styling for smaller sized screens */
@media (max-width: 800px) {
  #toolbelt {
    width: 100%;
    padding: 5px;
    display: grid;

    grid-template-areas: 
      "edu" 
      "lang"
      "fw" 
      "ts";
  
    grid-template-columns: 1fr;
  }

  #education { 
    display: flex;
    flex-direction: column;
    grid-area: edu;
    color: var(--syracuse);
    align-items: center;
    padding-left: 35%;
    text-align: center;
  }
  
  #languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25%;
    text-align: left;
    gap: 10vw;
  }
  #frameworks {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15%;
    text-align: left;
    gap: 10vw;
  }
  #tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10%;
    text-align: left;
    gap: 10vw;
  }

  #bio h2 {
    font-size:1rem; 
  }
}

/* Styling for phone screens */
@media (max-width: 600px) {
  #bio{
    display: flex;
    flex-direction: column;
  }

  #bio h2{
    border-left: 0;
    padding: 0;
  }

  #toolbelt {
    width: 100vw;
    padding: 0px;
    margin: 0px;
    grid-template-areas: 
      "edu" 
      "lang"
      "fw" 
      "ts";

    grid-template-columns: 1fr;
  }

  #education, #languages, #frameworks, #tools {
    text-align: center;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }
  
  #bio > * {
    width: 80vw;
  }

  .rect-top {
    top: -70%; 
  }
}