@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --primary: #C00F0C;
  --primary2: #e1120e;  
  --b: #000;
  --w: #dddddd;
  --wSecond: #d3d3d3;
  --g: #f4f4f4;
  --syracuse: #f76801;
}

/* Smooth Scrooling if I want to add a nav bar */
* {
  scroll-behavior: smooth;
  /* border: 1px solid red */
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--w);
  color: black;
  font-family: Space Grotesk, sans-serif; 
  margin: 0rem;
}

#header-br {
  content: "";
  height: 69px;
  width: 100%;
  background-color: black;
}

#name-container {
  width: 100%;
  text-align: center;
}

#name {
  color: var(--w);
  background-color: var(--primary);
  background-image: url("img/headerPattern.svg");
  background-size: 600px, 600px;
  background-repeat: repeat;
  background-position: top left;
  padding: 10px;
  margin: 0;
}

#name-pattern {
  background-color: black;
  z-index: 1;
  opacity: 10%;
}

/* Container for the biography */
#bio{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 10vw;
  padding-right: 10vw;
  gap: 10vw;
  text-align: center;
}

/* Each child element is set to 25vw*/
#bio > * {
  width: 25vw;  
  height: auto;  
}

#bio h2 {
  font-size:1.5rem; 
  font-weight: 700;
  padding-left: 10vw;
  border-left-width: 1vw;
  border-left: solid var(--primary);
  color:white
}


/* Each of the drawings */
#gallery > .interactable {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: center;
  filter: drop-shadow(0 0 0.25rem white);
  transition: tranform 10s ease-in-out;
  /* border-width: 1000px; */
}

/* Container for the drawings */
#gallery{
  display: flex;
  gap: 4vmin;
  transform: translate(0%, 0%);
  user-select: none;
  width: 100vw;
}

/* Covers the scaling animation */
/* .interactable {
} */

.interactable:hover {
  transform: scale(1.01);
}

/* Container for the biography */
#bio{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 10vw;
  padding-right: 10vw;
  gap: 10vw;
  text-align: center;
}

/* Each child element is set to 25vw*/
#bio > * {
  width: 25vw;  
  height: auto;  
}

#bio h2 {
  font-size:1.5rem; 
  font-weight: 700;
  padding-left: 10vw;
  border-left-width: 1vw;
  border-left: solid var(--primary);
  color:white
}

#bio img {
  max-width: 300px;
  max-height: 300px;
}

/* Grid container that contains education and my skills */
/* #toolbelt {
  width: 100%;
  display: grid;
  grid-template-areas: 
    "edu  lang  fw  ts";

  grid-template-columns: 2fr 1fr 1fr 1fr;
} */
#toolbelt {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* margin: 5px; */
}

#education, #languages, #frameworks, #tools {
  flex-direction: column;
  gap: 0px;
  margin: 10px;
}

/* Set education Styling */
#education { 
  display: flex;
  flex-direction: column;
  color: var(--syracuse);
  text-align: left;
}


#education > div > h2, h4 { 
  margin-bottom: 0;
}
#education > div > h3 {
  margin: 0;
  padding: 0;
}

#languages > div {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  row-gap: 5px;
  flex-wrap: wrap;   
  background-color: transparent; 
}

#languages > div > h3 {
  margin: 0;
  background-color: var(--wSecond);
  padding: 5px;
  border-radius: 10px;
}
#frameworks > div {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  row-gap: 5px;
  flex-wrap: wrap;   
  background-color: transparent; 
}
#frameworks > div > h3 {
  margin: 0;
  background-color: var(--wSecond);
  padding: 5px;
  border-radius: 10px;
}
#tools > div {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  row-gap: 5px;
  flex-wrap: wrap;   
  background-color: transparent; 
}

#tools > div > h3 {
  margin: 0;
  background-color: var(--wSecond);
  padding: 5px;
  border-radius: 10px;
}

/* Styling for divs that need a white bg */
.whitebg{
  background: linear-gradient(to bottom right, white 0%, white 50%, var(--g) 50%, var(--g) 100%);
}

/* Different styling for a white bg (line is down the middle rather than from bottom left to to right */
.whitebgVert{
  background: linear-gradient(to right, white 0%, white 50%, var(--g) 50%, var(--g) 100%);
}

/* Styling for text that need to be color: primary2 */
.red2{
  color: var(--primary2);
  padding-left: 1vw;
}

/* Styling for text that need to be color: white */
.wh{
  color: white;
  padding-left: 1vw;
}

#body-container {
  height: 100%;
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footer-container {
  position: fixed;
  bottom: 0;
  background-color: red;
}

@media (max-width: 940px){
  html {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/* Styling for smaller sized screens */
@media (min-width: 800px) {
  #toolbelt {
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
  }
  #languages {
    width: 25%;
  }
  #languages > div {
    flex-direction: row;
  }
  #languages > div > h3 {
    width: fit-content;
  }
  #frameworks {
    width: 25%;
  }
  #frameworks > div {
    flex-direction: row;
  }
  #frameworks > div > h3 {
    width: fit-content;
  }
  #tools {
    width: 25%;
  }
  #tools > div {
    flex-direction: row;
  }
  #tools > div > h3 {
    width: fit-content;
  }
}

@media (max-width: 800px) {
  #bio h2 {
    font-size:1rem; 
  }
}

/* Styling for phone screens */
@media (max-width: 600px) {
  #bio{
    display: flex;
    flex-direction: column;
  }

  #bio h2{
    border-left: 0;
    padding: 0;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }
  
  #bio > * {
    width: 80vw;
  }

  .rect-top {
    top: -70%; 
  }
}